.container-fluid{
  background-color: black;
}
.navbar{
  background-color: darkslategrey;
}
.greentext{
  color: greenyellow;
}
.logo{
  width: 35px;
  height: 35px;
}
.headerBtn{
  background-color: rgb(126, 182, 42);
  color: whitesmoke;
}
.gradient-text{
  background: linear-gradient(90deg, #F87516 0%, #5E11FF 100%);;
  color: transparent;
  background-clip: text;
  /* -webkit-background-clip: text; */
}
.gradient-background{
  background: linear-gradient(90deg, #F87516 0%, #5E11FF 100%);;
}
.purchase-btn{
  background-color: white;
}
.purchase-btn:hover{
  background-color: transparent;
  color: white;
  border-color: white;
}
.body-text{
  font-size: 60px;
}
.cursor-text, 
.applyon-text,
.features-text{
  font-size: 40px;
}
.desc-text{
  color: rgb(204, 204, 204);
}
.purchase-from-evanto-btn{
  width: 300px;
  font-size: 25px;
  padding: 15px 15px;
}
.img-back{
  background-color: rgb(40, 38, 38);
}
.featurs-img{
  width: 170px;
  height: 170px;
}
@media screen and (max-width:991px) {
  .body-text{
    font-size: 60px;
  }
  .cursor-text, 
  .applyon-text,
  .features-text{
  font-size: 40px;
}
  .purchase-btn{
    display: none;
  }
  .purchase-from-evanto-btn{
    width: 300px;
    font-size: 25px;
    padding: 15px 15px;
  }
  .footercolumn{
    justify-content: center;
  }
}
@media screen and (max-width:768px) {
  .body-text{
    font-size: 50px;
  }
  .cursor-text, 
  .applyon-text,
  .features-text{
  font-size: 30px;
}
  .applogos{
    width: 80px;
    height: 80px;
  }
  .ratinglogo{
    width: 120px;
    height: 25px;
  }
  .purchase-from-evanto-btn{
    width: 250px;
    font-size: 20px;
    padding: 15px 15px;
  }
}
@media screen and (max-width:450px) {
  .body-text{
    font-size: 40px;
  }
  .cursor-text,  
  .applyon-text,
  .features-text{
  font-size: 25px;
}
  .applogos{
    width: 60px;
    height: 60px;
  }
  .ratinglogo{
    width: 100px;
    height: 20px;
  }
  .ratingdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .applogocolumn{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .purchase-from-evanto-btn{
    width: 200px;
    font-size: 15px;
    padding: 10px 10px;
  }
}
@media screen and (min-width : 992px) {
  .footerrow{
    flex-direction: row-reverse;
  }
  .footercolumn{
    justify-content: end;
  }
}